@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts (Geist) via Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Geist&family=Geist+Mono&display=swap');

/* CSS variables */
:root {
  --background: #FFD902;
  --foreground: #171717;
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1 {
  color: #191D64;
}

footer {
  background-color: transparent;
  color: white;
}